<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.bookstore.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.briup.bookstore.po.Address">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="urbanAddr" column="urban_addr" jdbcType="VARCHAR"/>
        <result property="detailAddr" column="detail_addr" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="CHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="extendResultMap" type="com.briup.bookstore.po.ext.AddressExtend" extends="BaseResultMap">
        <result property="defaultValue" column="is_default" jdbcType="BOOLEAN"></result>
    </resultMap>
    <insert id="save">
        insert into book.es_address(receiver_name, urban_addr, detail_addr, phone, user_id) values (#{receiverName},#{urbanAddr},#{detailAddr},#{phone},#{userId});
    </insert>
    <delete id="deleteByUserId">
        delete from book.es_address where user_id = #{userId}
    </delete>
    <select id="findByUserId" resultMap="extendResultMap">
        select a.*,u.default_address_id from
            book.es_user u
                INNER JOIN
            book.es_address a
            on u.id = a.user_id
        where u.id = #{userId}
    </select>


</mapper>
